# Required - set these before running docker-compose -f docker-compose.yml -f docker-compose.prod.yml up
POSTGRES_PASSWORD=
SECRET_KEY=
FRONTEND_URL=https://your-domain.com
FRONTEND_API_URL=https://your-domain.com/api

# Optional
POSTGRES_DB=icarus
POSTGRES_USER=icarus
